#app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

#resizer {
    width: 5px;
    background-color: #ccc;
    cursor: col-resize;
}